@charset "UTF-8";
@font-face {
  font-family: "Font Name";
  src: local("Font Name"), url(/fonts/font.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

body {
  margin: 0 auto;
}

.wraper {
  width: 100%;
  height: auto;
  text-align: center;
}

.mainmeny {
  width: 100%;
}

.mainmeny__top {
  height: 10vh;
  background-color: black;
  color: #fff;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.mainmeny__top p {
  margin: 0px 60px 0px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 700;
}

.img-clock {
  background-color: black;
  display: block;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 15px;
}

.mainmeny__contact {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  width: 100%;
}

.hover-image-scale {
  display: inline-block;
  overflow: hidden;
  width: 490px;
  height: 100px;
  margin: 8px 0px 0px 0px;
}

.hover-image-scale img {
  transition: 1s; /* Время эффекта */
  display: block;
  height: 70%;
  width: 350px;
  margin: 0 auto;
}

.hover-image-scale img:hover {
  transform: scale(1.4);
}

.contact__item {
  display: flex;
  align-items: center;
}

.contact__it {
  display: flex;
  margin: 0px 20px 0px 0px;
  align-items: center;
  font-size: 17px;
  line-height: 15px;
}
.contact__it p {
  font-family: "Lato", sans-serif;
  color: #171819;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.img-holder {
  text-align: center;
  margin: 0px 10px 0px 0px;
  display: flex;
}
.img-holder img {
  min-width: 30%;
  min-height: 30%;
  padding: 15px;
  -webkit-animation: hue 10s infinite linear;
          animation: hue 10s infinite linear;
}
.img-holder img:hover {
  filter: drop-shadow(2px 4px 7px black);
}

.text-holder {
  text-align: left;
  max-width: 180px;
}
.text-holder span:first-child {
  font-weight: 600;
}
.text-holder span:last-child {
  font-weight: 600;
  color: #00008B;
}

.mainmeny__content {
  background-image: url("../image/uppp.jpeg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 75vh;
  background-attachment: fixed;
  text-align: left;
  vertical-align: bottom;
}
.mainmeny__content p:first-child {
  font-size: 40px;
  color: #00008B;
  padding: 50px 20px 50px 90px;
  font-family: "Crimson Text SemiBold Italic";
  font-weight: 700;
}
.mainmeny__content p:last-child {
  color: #00008B;
  font-size: 15px;
  padding: 0px 0px 0px 90px;
}

.services__content {
  background-color: #F8F8FF;
  margin: 0 auto;
}
.services__content h1 {
  padding: 50px 0px 0px 0px;
  text-align: center;
  color: #4169E1;
}
.services__content h1 hr {
  border: 1px solid #00A4E5;
  margin: 0 auto;
  background-color: #00A4E5;
}

.squaitem {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.conteiner {
  border: 1px solid #E6E6E6;
  max-width: 260px;
  max-height: 275px;
  margin: 20px 0px 20px;
  border-radius: 10%;
  background-color: #F0F8FF;
  box-shadow: 3px 2px 2px black;
  font-size: 14px;
}

.conteiner:hover {
  color: #F0F8FF;
  background-color: #4169E1;
}
.conteiner:hover h2 {
  color: #F0F8FF;
}

.conteiner__content {
  padding: 28px 12px 39px 23px;
}

.conteiner__image {
  padding: 0px 0px 15px 0px;
}

.conteiner__image img {
  max-height: 55px;
  max-width: 35.625px;
}

.conteiner__tittle {
  font-family: OpenSans;
  font-style: Bold;
  font-size: 11px;
  line-height: 19px;
  Vertical-align: Center;
  letter-spacing: 0.2px;
  color: #48555B;
}

.conteiner__text {
  font-family: OpenSans;
  font-style: Regular;
  line-height: 23px;
  max-width: 100%;
  min-height: 92px;
  padding: 8px 0px 9px 0px;
}

.img-gallery {
  text-align: center;
  padding: 20px 20px;
}
.img-gallery h3 {
  font-size: 19px;
  padding: 15px 20px;
}
.hover-image-gallery {
  margin: 0 auto;
}

.hover-image-gallery a {
  display: inline-block;
  background: #ff921e; /* Меняем цвет на свой */
  line-height: 0;
  margin: 15px;
}

.hover-image-gallery a img {
  transition: filter 0.5s linear;
  filter: brightness(2) grayscale(1) opacity(0.5);
}

.hover-image-gallery a:hover img {
  filter: none;
}

.wrap-gen h3 {
  margin: 60px 0px 40px 0px;
  font-size: 30px;
  text-align: center;
  color: #4169E1;
}

.wrap-prise {
  width: 100%;
  display: flex;
}

.prise-img {
  height: 400px;
  width: 50%;
  background-image: url("../image/up.jpeg");
  background-size: cover; /* Растягиваем картинку  по ширине */
  background-repeat: no-repeat; /* Картинка фона без повторения */
  background-position: center; /* Позиция фона по центру */
}

.prise-img2 {
  background-image: url("../image/price-mater.jpeg");
  background-size: cover; /* Растягиваем картинку  по ширине */
  background-repeat: no-repeat; /* Картинка фона без повторения */
  background-position: center; /* Позиция фона по центру */
  height: 400px;
  width: 50%;
}

.prise-img3 {
  background-image: url("../image/puu.jpeg");
  background-size: cover; /* Растягиваем картинку  по ширине */
  background-repeat: no-repeat; /* Картинка фона без повторения */
  background-position: center; /* Позиция фона по центру */
  height: 400px;
  width: 50%;
}

.prise-img4 {
  background-image: url("../image/666.jpeg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  width: 50%;
}

.prise-text {
  max-height: 400px;
  width: 50%;
  background: #fafafa;
  color: hsl(266deg, 47%, 3%);
  padding: 120px 0px 0px 0px;
}
.prise-text span {
  font-size: 19px;
  font-weight: 300;
}
.prise-text p {
  padding: 20px 0px 0px 0px;
  font-size: 14px;
}

.prise-text2 {
  background: #1E90FF;
}

.prise-text4 {
  background: #1E90FF;
}

.howewework {
  margin: 40px 0px 40px 0px;
}
.howewework h3 {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
  color: #4169E1;
}

.howewework-block {
  display: flex;
  justify-content: space-around;
}

.work-block {
  max-height: 200px;
  max-width: 300px;
  text-align: center;
}
.work-block .work-num {
  max-width: 50px;
  max-height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #1E90FF;
  margin: 0 auto;
}
.work-block h5 {
  margin: 10px 0px 5px 0px;
  font-size: 19px;
}
.work-block p {
  max-width: 230px;
}

.arrow-wrap {
  transform: rotate(270deg);
  display: inline-block;
}

.arrow-8 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 60px -150px 80px 30px;
}

.arrow-8:before,
.arrow-8:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 8px solid #337AB7;
  border-bottom: 8px solid #337AB7;
  -webkit-animation: arrow-8 3s linear infinite;
          animation: arrow-8 3s linear infinite;
}

.arrow-8:after {
  -webkit-animation: arrow-8 3s linear infinite -1.5s;
          animation: arrow-8 3s linear infinite -1.5s;
}

@-webkit-keyframes arrow-8 {
  0% {
    opacity: 0;
    transform: translate(0, -53px) rotate(-45deg);
  }
  10%, 90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 53px) rotate(-45deg);
  }
}

@keyframes arrow-8 {
  0% {
    opacity: 0;
    transform: translate(0, -53px) rotate(-45deg);
  }
  10%, 90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 53px) rotate(-45deg);
  }
}
.bottom__citi {
  background-image: url("../image/foot.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 499px;
  align-items: center;
  filter: blur(5px);
}

.bottom__citi p {
  font-family: "OpenSans";
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  padding: 120px 0px 35px 0px;
  color: blue;
}

.bottom__form {
  min-height: 100px;
  width: 100%;
  background-color: #171819;
}

.bottom__form-content {
  padding: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.form-content-text {
  font-family: "OpenSans";
  font-size: 22px;
  line-height: 26px;
  color: white;
  padding: 0px 70px 0px 0px;
}

.form-input {
  width: 250px;
  height: 40px;
  border: 1px solid #979797;
  text-align: center;
  font-size: 14px;
}

.button-fone {
  height: 40px;
}

.bottom__inf {
  width: 100%;
  min-height: 240px;
  color: #E6E6E6;
  background-color: #141A20;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 25px;
  letter-spacing: 0.85px;
  font-style: sans-serif;
}

.bottom__inf-company {
  max-height: 148px;
  max-width: 250px;
}

.inf-company-tittle {
  margin: 0px 0px 37px 0px;
}

.inf-company-text {
  font-family: "rubick";
  font-style: italic;
  font-size: 24px;
}
.inf-company-text span {
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
}

.btn-social img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn-social:hover {
  opacity: 0.3;
}

.bottom__inf-contact {
  min-height: 158px;
  min-width: 141px;
  line-height: 15.5px;
  font-size: 25px;
  font-family: "rubick";
}
.bottom__inf-contact span:first-child {
  font-weight: bold;
}

.btn-social_ig:after {
  margin: -5px 0 0 -8px;
  width: 16px;
  height: 10px;
  background-position: -22px -39px;
}

.form-input {
  min-width: 190px;
  min-height: 30px;
  border-radius: 10px;
  box-shadow: #171819 1px 1px 1px 1px;
}

.form-button {
  background-color: red;
  min-width: 140px;
  min-height: 30px;
  border-radius: 10px;
  box-shadow: 3px 2px 2px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.form-button:hover {
  background-color: rgb(181, 5, 5);
}

.form-button:hover {
  background-color: rgb(181, 5, 5);
}

.form-button:focus {
  border-radius: none;
  background-color: rgb(90, 2, 2);
}

.footer {
  width: 100%;
  background-color: #171819;
}

.footer__row {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.3px;
}