@font-face {
	font-family: 'Font Name'; 
	src: local('Font Name'),
		url(/fonts/font.ttf); 
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Helvetica";
}
body{margin: 0 auto;} 
.wraper{
	width: 100%;
	height: 3000px;
	text-align: center;;
}
.mainmeny {	
	// height: 100vh;
	width: 100%;
}
.mainmeny__top {
	height: 10vh;
	background-color: black;
	color: #fff;
	font-size: 19px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	
	p{
		margin: 0px 60px 0px 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-family: 'Montserrat';
		font-weight:700;
		
}
}
.img-clock {
	background-color: black;
	display: block;
	margin-left: auto;
	padding-top: 16px;
	padding-bottom: 15px;
}
.mainmeny__contact {
	display: flex;
	justify-content: space-around;
	height: 15vh;
	width: 100%;
}
.hover-image-scale {
	display: inline-block; 
	overflow: hidden; 
	width: 490px;
	height: 100px;
	margin: 8px 0px 0px 0px;
	
}
.hover-image-scale img {
	transition: 1s; /* Время эффекта */
	display: block; 
	height: 70%;
	width: 350px;
	margin: 0 auto;
	
	
	}
.hover-image-scale img:hover {
	transform: scale(1.4);
}
.contact__item{
	// max-width: 400px;
	display: flex;
	align-items: center;
}
.contact__it{
	display: flex;
	margin: 0px 20px 0px 0px;
	align-items:center;
	font-size: 17px;
	line-height: 15px;
	p{
		font-family: 'Lato', sans-serif;
		color: #171819;
		font-family: Raleway;
		font-size: 17px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: center;

	}
}
.img-holder {

	text-align: center;
	// border: 2px solid #1E90FF;
	// border-radius: 100%;
	margin: 0px 10px 0px 0px;
	display: flex;

	img{
		min-width: 30%;
		min-height: 30%;
		padding: 15px;
		animation: hue 10s infinite linear;
	}
	img:hover{
		filter:drop-shadow(2px 4px 7px black);
		
	}
}
.text-holder {
	text-align: left;
	max-width: 180px;
	span:first-child{
		font-weight: 600;
	}
	span:last-child{
		font-weight: 600;
		color: #00008B;
	}
	
}
.mainmeny__content {
	background-image: url("../image/uppp.jpeg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 75vh;
	background-attachment: fixed;
	filter: grayscale(1);
	transition: 1s;
	text-align: left;
	vertical-align: bottom;
	p:first-child{
		font-size: 40px;
		color: #00008B;
		padding: 50px 20px 50px 90px;
		font-family: 'Crimson Text SemiBold Italic';
		font-weight: 700;
	}
	p:last-child{
		color: #00008B;
		font-size: 15px;
		padding: 0px 0px 0px 90px;
	}
}
.mainmeny__content:hover {
	filter: grayscale(0);
}
// .grey-image {
// 	height: 75vh;
// 	width: 100%;
//background-attachment: fixed;
// 	filter: grayscale(1); /* Черно-белый фильтр для изображения */
// 	transition: 1s; /* Время изменения цвета изображения */
// }
// .grey-image:hover {
// 	filter: grayscale(0); /* Цветное изображение при наведении */
// }
// .mainmeny__content:hover {
// 	filter: grayscale(0);
// }
.services__content {
	background-color: #F8F8FF;
	h1{
		padding: 50px 0px 0px 0px;
		text-align: center;
		color: #4169E1;
		hr{
			border: 1px solid #00A4E5;
			margin: 0 auto;
			background-color: #00A4E5;;
		}
	}
}
.squaitem {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
	flex-wrap: wrap;	
	margin: 20px 20px;
	background-color: red;
	
}
.conteiner {
	border: 1px solid #E6E6E6;
	max-width: 260px;
	max-height: 275px;
	margin: 20px 0px 20px;
	border-radius: 10%;
	background-color: #F0F8FF;
	box-shadow: 3px 2px 2px black;	

}
.conteiner__content{
	// min-width: 250px;
	// min-height: 213px;
	padding: 28px 12px 39px 23px;
}
.conteiner__image {
	padding: 0px 0px 15px 0px;
}
.conteiner__image img{
	max-height: 55px;
	max-width: 35.625px;
}

.conteiner__tittle {
	font-family: OpenSans;
	font-style: Bold;
	font-size: 11px;
	line-height: 19px;
	Vertical-align: Center;
	letter-spacing: 0.2px;
	color: #48555B;
	}

.conteiner__text {
	font-family: OpenSans;
	font-style: Regular;
	font-size: 13px;
	line-height: 23px;
	max-width: 100%;
	min-height: 92px;
	padding: 8px 0px 9px 0px;
	}
	.img-gallery{
		text-align: center;
		padding: 20px 20px;
	}
	.hover-image-gallery{
		// display: block; 
		margin: 0 auto;
	}
	.hover-image-gallery a {
		display: inline-block;
		background: #ff921e; /* Меняем цвет на свой */ 
		line-height: 0;
	 }
	 .hover-image-gallery a img {
		transition: filter 0.5s linear;
		filter: brightness(2) grayscale(1) opacity(0.5);
	 }
	 .hover-image-gallery a:hover img {
		filter: none;
	 }
	 .wrap-price{
		box-shadow: 10px 5px 5px black;
		display: inline-block;
		margin: 20px 0px 0px 0px;
		h3{
			margin: 15px;
			font-size: 30px;
			padding: 0px 0px 0px 0px;
			text-align: center;
			color: #4169E1;
			hr{
				border: 1px solid #00A4E5;
				background-color: #00A4E5;;
			}
		}
	 }
	 .price-img {
		background-image: url("../image/up.jpeg");
		background-size: cover; /* Растягиваем картинку  по ширине */
		background-repeat: no-repeat; /* Картинка фона без повторения */
		background-position: center; /* Позиция фона по центру */
		min-width: 600px;
		min-height: 400px;
		position: relative;
 
	}
	.price-text{
		background-color: #FFFAFA;
		border: 1px solid#171819;
		min-width: 300px;
		min-height: 200px;
		position: absolute;
		left: 350px;
		font-size: 18px;
		padding: 15px 0px 0px 0px;
		color: #808080;
		font-weight: 50;
		opacity: 0;
		transform: translateY(20px);
		box-shadow: 10px 5px 5px black;
		border: 2px solid #00A4E5;
		border-radius: 15%;
		div{
			font-weight: 700;
			color: #00008B;
			padding: 15px 0px 0px 0px;
			font-size: 28px;
		}
	}
	.element-show {
		opacity: 0.8;
		transition: all 1.5s;
		transform: translateY(0%);
		
	}
	.wrap-price-mater{
		display: inline-block;
		box-shadow: 10px 5px 5px black;
		margin: 20px 0px 20px 0px;
		h3{
			margin: 15px;
			font-size: 30px;
			padding: 0px 0px 0px 0px;
			text-align: center;
			color: #4169E1;
			hr{
				border: 1px solid #00A4E5;
				background-color: #00A4E5;;
			}
		}

	}
	.price-mater-img {
		background-image: url("../image/price-mater.jpeg");
		background-size: cover; /* Растягиваем картинку  по ширине */
		background-repeat: no-repeat; /* Картинка фона без повторения */
		background-position: center; /* Позиция фона по центру */
		min-width: 600px;
		min-height: 430px;
		position: relative;
	}
	.price-mater-text {
		background-color: #FFFAFA;
		border: 1px solid#171819;
		min-width: 300px;
		min-height: 200px;
		position: absolute;
		left: 0px;
		font-size: 18px;
		padding: 15px 0px 0px 0px;
		color: #808080;
		font-weight: 50;
		border: 2px solid #00A4E5;
		border-radius: 15%;
		div{
			font-weight: 700;
			color: #00008B;
			padding: 15px 0px 0px 0px;
			font-size: 28px;
		}
	}
	

.bottom__citi {
	background-image: url("../image/foot.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	min-height: 499px;
	align-items: center;
	filter: blur(5px);


}
.bottom__citi p{
	font-family: 'OpenSans';
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 0.15px;
	padding: 120px 0px 35px 0px;
	color: blue;
}
.bottom__form {
	min-height: 100px;
	width: 100%;
	background-color: #171819;
}
.bottom__form-content {
	padding: 30px 0px 0px 0px;
	display: flex;
	justify-content: center;
}
.form-content-text{
	font-family: 'OpenSans';
	font-size: 22px;
	line-height: 26px;
	color: #ffff;
	padding: 0px 70px 0px 0px;
}
.form-input{
	width: 250px;
	height: 40px;
	border: 1px solid #979797;
	text-align: center;
	font-size: 14px;
}
.bottom__inf {
	width: 100%;
	min-height: 240px;
	color: #E6E6E6;
	background-color: #141A20;
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 25px;
	letter-spacing: 0.85px;
	font-style: sans-serif;
}
.bottom__inf-company {
	max-height: 148px;
	max-width: 250px;
}
.inf-company-tittle{
	margin: 0px 0px 37px 0px;
}
.inf-company-text{
	font-family: 'rubick';
	font-style: italic;
	font-size: 24px;
	span{
		color: #fff;
		font-size: 19px;
		font-weight: bold;
		font-style: normal;

	}
}
.bottom__inf-contact {
	min-height: 158px;
	min-width: 141px;
	line-height: 15.5px;
	font-size: 25px;
	font-family: 'rubick';
	span:first-child{
		font-weight: bold;
	}
}
.btn-social_ig:after {
	margin: -5px 0 0 -8px;
	width: 16px;
	height: 10px;
	background-position: -22px -39px;
}
.footer {
width: 100%;
background-color: #171819;
}
.footer__row {
display: flex;
height: 65px;
justify-content: center;
align-items: center;
}
.footer__text {
color: #ffffff;
font-size: 12px;
letter-spacing: 0.3px;
}